header {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  height: auto;
  width: 100%;
  position: fixed;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  background-color: white;
  border-bottom: 1px solid black;
  margin: 0 auto;
  top: 0;
  left: 0;
  z-index: 10;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: MediumAquamarine;
  padding: 10px;
}

.logo p {
  padding: 10px;
}

nav li {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  text-decoration: underline;
  padding: 10px;
}

.maincontent {
  position: relative;
  height: auto;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-top: 100px;
  font-family: Georgia;
  font-size: 17px;
  color: black;
  z-index: 5;
}

#large {
  display: flex;
  height: auto;
  width: 630px;
  flex-flow: column nowrap;
  justify-content: center;
}

.column.large {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  height: auto;
  width: 630px;
}

.mainbanner {
  display: flex;
  height: 300px;
  background-image: url("../images/mainstory.png");
  background-size: auto;
  background-repeat: no-repeat;
}

.mainbanner p{
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}

#largebottom {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.fallcolumn {
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  width: 315px;
}

.researchcolumn {
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  width: 315px;
}

.fall {
  display: flex;
  align-content: center;
  flex-flow: row wrap;
  height: 300px;
  width: inherit;
  background-image: url("../images/fall.png");
  background-size: conatin;
  background-repeat: no-repeat;
}

.fall p {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.cameraman {
  height: 300px;
  background-image: url("../images/cameraman.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.cameraman p {
  font-family: Georgia;
  position: relative;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

#medium {
  display: flex;
  flex-flow: column nowrap;
}

.column.medium {
  display: flex;
  flex-flow: column;
  width: 300px;
}

.cat {
  display: flex;
  height: 500px;
  height: 300px;
  background-image: url("../images/cat.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.cat p {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

#small {
  display: flex;
  flex-flow: column nowrap;
}

.column.small {
  display: flex;
  flex-flow: column;
  width: 240px;
  margin: 0 0;
}

.news{
  font-size: 16px;
  font-weight: bold;
}

.newstext {
  display: flex;
  margin: 0 0;
  text-align: left;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  width: 240px;
}

.newstext li{
  display: block;
  list-style-type: none;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-decoration: none;
}

#footer {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  background-color: MediumAquamarine;
  margin: auto;
  text-align: center;
  height: 300px;
  width: 100%;
  bottom: 0px;
  margin-top: 50px;
  font-family: Verdana;
  font-size: 12px;
}

.mytimesfoot {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding: 20px;
  border-right: 2px solid white;
}

.footer {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.footer li {
  display: inline-block;
  list-style-type: none;
  text-decoration: underline;
}
